@import "tailwindcss";

@theme {
  --color-azul-medianoche: #0A0C12;
  --color-azul-oscuro: #223A5E;
  --color-azul-real: #004F95;
  --color-azul-brillante: #0088D4;
  --color-crema: #FFF4D9;
  --color-amarillo-suave: #FFD68A;
  --color-salmon-claro: #E89A7B;
  --color-naranja-vibrante: #FF7A45;
  --color-purpura-rojizo: #9E506D;
  --color-rojo-granate: #A3363F;
}
